*{
    margin : 0;
    padding: 0;
    
}

/* font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.btn-one{
    border-radius: 41px;
    background-color: rgba(224, 44, 109, 1);
    font-weight: 700;
    color: white;
    padding: 10px 24px;
    border: none;
}


/* navbar style here */
.navbar{
    max-width: 1360px;
    margin: 60px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(58, 58, 58, 1);
}

ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
ul li{
    list-style: none;
    color: rgba(58, 58, 58, 1);
    cursor: pointer;
    
}

ul li:hover{
    color: black;
}
li a{
    text-decoration: none;
}

/* hero section style */
.hero-section{
    max-width: 1360px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.hero-contents{
    width: 50%;
}
.hero-contents h2{
    font-size: 3.25rem;
    font-weight: 700;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 16px;
}
.hero-contents p{
    color: rgba(58, 58, 58, 1);
    margin-bottom: 16px;
}

.hero-img{
    width: 50%;
    height: 100%;
    background-image: url('../images/circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sponsolr section style */
.sponsor-section{
    max-width: 1360px;
    margin: 100px auto;
    text-align: center;
}

.sponsor-img{
    
}
.sponsor-img-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* --collection section */
.collection-section{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.collection-section h3{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: rgba(58, 58, 58, 1);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: start;
}

.card{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
    padding: 17px 15px;
}

.card-img{
    width: 100%;
}
.card h4{
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 6px;
}
.card h5{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.star-div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    font-size: 0.8rem;
}

.star-div p{
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(94, 99, 102, 1);
}

.star-parent{
    color: orange;
}
.details{
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(94, 99, 102, 1);
    text-align: start;
    margin-bottom: 8px;
}


/* ---fetured section style-- */
.featured-section{
    max-width: 1360px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    gap: 95px;
}

.featured-img{
    width: 50%;
}
.featured-section img{
    width: 100%;
}

.featured-contents{
    width: 50%;
}
.featured-contents h3{
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.featured-contents p{
    color: rgba(108, 108, 108, 1);
    font-weight: 700;
    margin-bottom: 16px;
}





/* responsive media query small device*/
@media screen and (max-width:576px) {
    /* nav */
    .navbar{
        flex-direction: column;
        margin: 20px auto;
    }
    ul{
        flex-direction: column;
        margin-top: 30px;
    }

    /* hero section */
    .hero-section{
        flex-direction: column-reverse;
        margin-top: 100px;
    }
    .hero-contents{
    width: 100%;
    text-align: center;
    }

    .hero-img{
        width: 100%;
    }

    /* sponsor section */
    .sponsor-img-container{
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
    }

    /* --collection section */
    .card-container{
    grid-template-columns: 1fr;
    place-items: stretch;
    padding: 0px 10px;
    }

    /* featured section */
    .featured-section{
    flex-direction: column-reverse;
    gap: 40px;
    }

    .featured-img{
    width: 100%;
    }
    
    .featured-contents{
    width: 100%;
    text-align: center;
    }
    


}

/* medium device */

@media screen and (min-width:576px) and (max-width:992px) {
    .card-container{
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    }

     /* featured section */
    .featured-section{
    flex-direction: column-reverse;
    gap: 40px;
    }

    .featured-img{
    width: 100%;
    }
    
    .featured-contents{
    width: 100%;
    text-align: center;
    }
}